<section class="agenda">
  <div class="container agenda-inner">
    <div class="agenda-top"><a class="bio-page-back" href="/">Voltar para a página inicial</a></div>
    <div class="agenda-head"><h2 class="agenda-title">AGENDA</h2><div class="agenda-badge">ALFA&ÔMEGA</div></div>
    <div class="agenda-list">
      <div class="agenda-item">
        <div class="agenda-date">SÁB | 22 DE NOV</div>
        <div class="agenda-desc">Reunião/ online</div>
      </div>
      <div class="agenda-item">
        <div class="agenda-date">SÁB | 29 DE NOV</div>
        <div class="agenda-desc">DNJ Jubila/ Cancelado</div>
      </div>
      <div class="agenda-item">
        <div class="agenda-date">DOM | 30 DE NOV</div>
        <div class="agenda-desc">DNJ Jubilar/ Cancelado</div>
      </div>
      <div class="agenda-item">
        <div class="agenda-date">SEG | 05 DE JAN</div>
        <div class="agenda-desc">Reunião/Pinheiro 8h (dia todo)</div>
      </div>
      <div class="agenda-item">
        <div class="agenda-date">SEX | 13 DE FEV</div>
        <div class="agenda-desc">INÍCIO DO RETIRO</div>
      </div>
    </div>
  </div>
</section>
