<section class="bio-page">
  <div class="container bio-page-inner">
    <div class="bio-page-top"><a class="bio-page-back" href="/">Voltar para a página inicial</a></div>
    <div class="bio-page-card">
      <div class="bio-page-media">
        <img class="bio-page-photo" src="/public/img/coordenacao/padreJoseAugusto.jpeg" alt="Pe. José Augusto, MSC"/>
      </div>
      <div class="bio-page-body">
        <h2 class="bio-page-title"><span>Pe. José Augusto, MSC</span></h2>
        <p class="bio-page-subtitle">Co-diretor Espiritual</p>
        <div class="bio-page-text">
          <p>Nasceu no dia 13 de dezembro de 1991, na cidade de Pedralva, sul de Minas Gerais. Ingressou no seminário dos Missionários do Sagrado Coração no dia 27 de janeiro de 2014, em Pirassununga – SP. No dia 9 de março de 2024, foi ordenado diácono e, em 21 de setembro de 2024, presbítero.</p>
          <p>Em janeiro de 2023, foi enviado para a Venezuela para o ano missionário e, em maio de 2023, foi destinado à missão na cidade de Santa Helena, Diocese de Pinheiro, Maranhão, onde vivenciou o seu diaconato e continua exercendo seu ministério presbiteral como Vigário Paroquial.</p>
          <p>Atualmente, foi nomeado coordenador da CRB (Conferência dos Religiosos do Brasil), núcleo Pinheiro, e co-diretor espiritual do Retiro Alfa & Ômega.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="coord">
  <div class="container coord-inner">
    <h3 class="coord-title">Coordenação</h3>
    <div class="coord-grid">
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/angelaMaria.jpeg" alt="Ângela Maria"/>
        <div class="coord-name">Ângela Maria</div>
        <div class="coord-role">Equipe de Comunicação</div>
      </div>
     
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/diegoFernandes.jpeg" alt="Diego Fernandes"/>
        <div class="coord-name">Diego Fernandes</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/shirleyCristina.jpeg" alt="Shirley Cristina"/>
        <div class="coord-name">Shirley Cristina</div>
        <div class="coord-role">Equipe de Vendas</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/gregCampos.jpeg" alt="Greg Campos"/>
        <div class="coord-name">Greg Campos</div>
        <div class="coord-role">Equipe de Liturgia</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/jhamAlmeida.jpeg" alt="Jham Almeida"/>
        <div class="coord-name">Jham Almeida</div>
        <div class="coord-role">Equipe de Liturgia/Comunicação</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/barbaraAlmeida.jpeg" alt="Bárbara Almeida"/>
        <div class="coord-name">Bárbara Almeida</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
    </div>
  </div>
</section>

<section class="coord">
  <div class="container coord-inner">
    
    <div class="coord-grid">
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/anaPaula.jpeg" alt="Ana Paulo"/>
        <div class="coord-name">Ana Paula</div>
        <div class="coord-role">Equipe de Bem-estar</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/lilianaMarinho.jpeg" alt="Liliana Marinho"/>
        <div class="coord-name">Liliana Marinho</div>
        <div class="coord-role">Equipe de Bem-estar</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/noraEdna.jpeg" alt="Nora Edna"/>
        <div class="coord-name">Nora Edna</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/mariaFernanda.jpeg" alt="Maria Fernanda"/>
        <div class="coord-name">Maria Fernanda</div>
        <div class="coord-role">Equipe de Animação</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/andreiSilva.jpeg" alt="Andrei Silva"/>
        <div class="coord-name">Andrei Silva</div>
        <div class="coord-role">Equipe de Comunicação</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/jucyNunes.jpeg" alt="Jucy Nunes"/>
        <div class="coord-name">Jucy Nunes</div>
        <div class="coord-role">Equipe de Refeitório</div>
      </div>
    </div>
  </div>
</section>

<section class="coord">
  <div class="container coord-inner">
   
    <div class="coord-grid">
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/paulinhoFerreira.jpeg" alt="Paulinho Ferreira"/>
        <div class="coord-name">Paulinho Ferreira</div>
        <div class="coord-role">Equipe de Finanças</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/joaoVictor.jpeg" alt="João Victor"/>
        <div class="coord-name">João Victor</div>
        <div class="coord-role">Equipe de Vendas</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/wilsonSa.jpeg" alt="Wilson Sá"/>
        <div class="coord-name">Wilson Sá</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/lucasSouza.jpeg" alt="Lucas Souza"/>
        <div class="coord-name">Lucas Souza</div>
        <div class="coord-role">Equipe de Refeitório</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/maikonDouglas.jpeg" alt="Maikon Douglas"/>
        <div class="coord-name">Maikon Douglas</div>
        <div class="coord-role">Equipe de Liturgia</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/vanuzaThais.jpeg" alt="Vanuza Thaís"/>
        <div class="coord-name">Vanuza Thaís</div>
        <div class="coord-role">Equipe de Finanças</div>
      </div>
    </div>
  </div>
</section>

<section class="coord">
  <div class="container coord-inner">
    <div class="coord-grid">
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/leticiaPinheiro.jpeg" alt="Letícia Pinheiro"/>
        <div class="coord-name">Letícia Pinheiro</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/carlaPereira.jpeg" alt="Carla Pereira"/>
        <div class="coord-name">Carla Pereira</div>
        <div class="coord-role">Equipe de Finanças</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/wermerson.jpeg" alt="Wermerson"/>
        <div class="coord-name">Wermerson</div>
        <div class="coord-role">Equipe de Ornamentação</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/irmaAnaCristina.jpeg" alt="Irmã Ana Cristina"/>
        <div class="coord-name">Irmã Ana Cristina</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/eduardoCosta.jpeg" alt="Eduardo Costa"/>
        <div class="coord-name">Eduardo Costa</div>
        <div class="coord-role">Equipe de Ornamentação</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/carolLopes.jpeg" alt="Carol Lopes"/>
        <div class="coord-name">Carol Lopes</div>
        <div class="coord-role">Equipe de Ornamentação</div>
      </div>
    </div>
  </div>
 </section>

<section class="coord">
  <div class="container coord-inner">
    <div class="coord-grid">
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/vanessaAzevedo.jpeg" alt="Vanessa Azevedo"/>
        <div class="coord-name">Vanessa Azevedo</div>
        <div class="coord-role">Equipe de Finanças</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/deurinhaFerreira.jpeg" alt="Deurinha Ferreira"/>
        <div class="coord-name">Deurinha Ferreira</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/lavigniaMarinho.jpeg" alt="Lavígnia Marinho"/>
        <div class="coord-name">Lavígnia Marinho</div>
        <div class="coord-role">Equipe de Secretaria</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/gleicySoares.jpeg" alt="Gleicy Soares"/>
        <div class="coord-name">Gleicy Soares</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/andreaGabryelle.jpeg" alt="Andréa Gabryelle"/>
        <div class="coord-name">Andréa Gabryelle</div>
        <div class="coord-role">Equipe de Estudos</div>
      </div>
      <div class="coord-item">
        <img class="coord-photo" src="/public/img/coordenacao/viniciusTorres.jpeg" alt="Vinicius Torres"/>
        <div class="coord-name">Vinicius Torres</div>
        <div class="coord-role">Equipe de Liturgia</div>
      </div>
    </div>
  </div>
</section>
